
.clashcounter {
    text-align: center;
}

.clashcounter__title {
    font-size: 4em;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, var(--color-1), var(--color-5) 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.clashcounter__tasks {
    font-size: 1.3em;
}