@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
:root {
  --color-1: #eec941;
  --color-2: #80b7f7;
  --color-3: #542916;
  --color-4: #597aa2;
  --color-5: #dcccc0;
  --color-6: #374357;
  --color-7: #000000;
  --sm: 16px;
  --md: 20px;
  --lg: 30px;
}
body {
  font-family: 'Zilla Slab', serif;
  background: linear-gradient(45deg, var(--color-5), var(--color-4));
}
* {
  box-sizing: border-box;
}